!!!
%html
  %head
    %meta{charset: 'utf-8'}
    %meta{content: 'IE=edge,chrome=1', 'http-equiv' => 'X-UA-Compatible'}

    %link{rel: 'shortcut icon', href: image_path('favicon.png')}
    %title= yield_content(:title) || 'GDG Devfest Omsk 2013'

    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'

  %body{class: page_classes}
    .navbar.navbar-gdg
      .container
        .navbar-header
          = link_to index_path, class: 'navbar-brand' do
            %span.bolder GDG DevFest
            %span Omsk 2013

        .collapse.navbar-collapse.navbar-ex1-collapse
          %ul.nav.navbar-nav.navbar-right
            = nav_link 'Главная', index_path
            = nav_link 'Программа', agenda_path

    .container
      = yield
